.hero_main_item, .hero_aside_item {
  max-width: 100%;
  height: auto;
  border-bottom: var(--border-size) var(--border-type) var(--third-border-colour);
}

.hero_main, .hero_wrapper {
  position: relative;
  width: 100%;
}

.hero_wrapper h2 {
  text-align: center;
  position: absolute;
  top: 460px;
  left: 0;
  width: 100%;
}

.hero_wrapper button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  -ms-transform: translate(-50%, -70%);
  background-color: var(--app-light-blue);
  color: var(--app-white);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.hero_main button {
  top: 85%;
}

.hero_wrapper button:hover {
  background-color: rgb(17, 153, 231);
}

.hero_wrapper h2 span {
  color: colour(app-white);
  font-size: 1.25rem;
  letter-spacing: .15rem;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
}

.hero_aside_item .hero_wrapper h2 {
  text-align: center;
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
}

.hero_aside_item .hero_wrapper h2 span {
  color: var(--app-white);
  font-size: .85rem;
  letter-spacing: .1rem;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 0.25rem;
}

@media (min-width: 992px) {
  .hero {
    display: flex;
  }

  .hero-main {
    width: 70%;
  }

  .hero-aside {
    width: 30%;
    border-left: var(--border-size) var(--border-type) var(--app-white);
  }

  .hero-main {
    display: flex;
  }

  .hero-main-item {
    align-self: stretch;
  }

  .hero-aside-item {
    border-bottom: var(--border-size) var(--border-type) var(--app-white);
  }
}