.app_navbar_top {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.app_navbar_top a:link {
  border-bottom: none;
  font-size: calc(var(--font-size) * 0.85);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.06rem;
}