.nav_navbar {
  display: flex;
  justify-content: space-between;
}

.nav_link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  text-transform: uppercase;
}

.nav_link:link,
.nav_link:visited {
  color: var(--app-mid-dark-gray);
  border-bottom: none;
  font-size: calc(var(--font-size) * 0.85);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.06rem;
}

.nav_link:hover {
  color: var(--app-dark-gray);
}

.nav_link:not(:last-child) {
  margin-right: var(--margin);
}

@media screen and (max-width: 680px) {
  .nav_navbar {
    display: flex;
    justify-content: center;
  }
}