.about_summary_card {
  margin-top: var(--margin);
}

.about_summary_card_title {
  font-size: var(--font-size);
  font-weight: var(--font-weight-light);
  padding: calc( var(--padding) * 0.4) 0 var(--padding) 0;
  text-transform: uppercase;
  text-align: center;
}

.about_summary_card_text {
  padding-top: var(--padding);
  line-height: calc(var(--base-line-height) * 0.78);
  text-align: left;
  font-size: cacl(var(--font-size) * 0.98);
}