.container {
  padding: calc(var(--padding) * 4) 0;
  background-color: var(--secondary-background);
  text-align: center;
  vertical-align: middle;
}

.title {
  font-weight: var(--font-weight-light);
}

.info {
  font-weight: var(--font-weight-bold);
  font-size: calc(var(--font-size) * 15);
  color: var(--app-red-light);
}
