.container {
  background-color: var(--primary-background);
  border: none;
}

.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link:not(:last-child) {
  margin-right: var(--margin);
}

.link {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: calc(var(--font-size) * 0.85);
  letter-spacing: 1px;
  transition: all 0.6s ease-out;
}

.link:link,
.link:visited {
  color: var(--app-mid-dark-gray);
  text-decoration: none;
}

.link:hover,
.link:active {
  color: var(--app-aqua-light);
  text-decoration: none;
}